.background{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(11, 25, 31, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}



.container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 10%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;


}
.content {
    margin-top: 5%;
}
/**/
.close{
    width: 22px ;
    cursor: pointer;
}



